*
!.gitignore
!README.md
!ACQUISITION_REPORT.json
!vesicules_sokolskyi_baum_2026/
!vesicules_sokolskyi_baum_2026/**
!histoire_antibiotique_donofrio_2026/
!histoire_antibiotique_donofrio_2026/**
!speleothemes_noaa_0_22ka/
!speleothemes_noaa_0_22ka/**
!lot_scientifique_maximal_2026_08_05/
!lot_scientifique_maximal_2026_08_05/**
!partage_carbone_2026/
!partage_carbone_2026/**
